<div
  #modal
  class="overlay"
>
  <div class="modal-window">
    <div class="modal-window-header">
      <svg class="modal-info-icon" width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="./../../assets/sprite.svg#icon-info"></use>
      </svg>
      Вы действительно хотите удалить обращение №99?
      <button class="modal-window-close" (click)="onCancelRemoveAppelaItem()"></button>
    </div>
    <div class="modal-window-footer">
      <button class="modal-btn yes" (click)="onConfirmRemoveAppealItem()">Да</button>
      <button class="modal-btn no" (click)="onCancelRemoveAppelaItem()">Нет</button>
    </div>
  </div>
</div>
