<li class="appeal-item" [routerLink]="['/appealPage', index]">
  <button class="shape-btn" (click)="deleteAppealItem($event)">
    <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="./../../assets/sprite.svg#shape-gray"></use>
    </svg>
  </button>
  <!-- <ng-content></ng-content> -->
  <div class="block-name">{{ firstName }}</div>
  <div class="block-midlename">{{ lastName }}</div>
  <div class="block-surname">{{ middleName }}</div>
  <div class="block-tel">{{ userPhone }}</div>
  <div class="block-text">{{ text }}</div>
</li>
