<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <fieldset class="fieldset">
      <legend class="legend">Имя</legend>
      <input  class="input-field" type="text" name="firstName" formControlName="firstName" appInputFocused>
      <small
        class="valid-field"
        *ngIf="form.get('firstName')?.touched && form.get('firstName')?.value === ''"
      >
        Поле обязательно для заполнения
      </small>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="legend">Фамилия</legend>
      <input class="input-field" type="text" name="lastName" formControlName="lastName" appInputFocused>
      <small
        class="valid-field"
        *ngIf="form.get('lastName')?.touched && form.get('lastName')?.value === ''"
      >
        Поле обязательно для заполнения
      </small>
    </fieldset>

    <fieldset class="fieldset" [disabled]="checked">
      <legend class="legend">Отчество</legend>
      <input class="input-field" type="text" name="middleName" formControlName="middleName" appInputFocused>
      <small
        class="valid-field"
        *ngIf="form.get('middleName')?.touched && !checked && form.get('middleName')?.value === ''"
      >
        Поле обязательно для заполнения, либо поставьте галочу напротив "Нет отчества"
      </small>
    </fieldset>

    <label class="label">
      <input
        class="checkbox"
        type="checkbox"
        [checked]="checked"
        (click)="onChangeChecked()"
        formControlName="withoutMiddleName"
      >
      <span class="custom-checkbox"></span>
      <span class="label-text">
        Нет отчества
      </span>
    </label>

    <fieldset class="fieldset">
      <legend class="legend">Номер телефона</legend>
      <p-inputMask
        class="input-field"
        styleClass="input-field"
        type="tel"
        name="userPhone"
        formControlName="userPhone"
        appInputFocused
        mask="+7 (999) 9999999"
        placeholder="+7 (...) ......."
        slotChar="."
        [autoClear]='false'
        (onFocus)="onFocused($event)"
        (onBlur)="onBlured($event)"
      ></p-inputMask>
      <small
        class="valid-field"
        *ngIf="form.get('userPhone')?.touched && form.get('userPhone')?.value === ''"
      >
        Поле обязательно для заполнения
      </small>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="legend">Текст обращения</legend>
      <textarea class="input-field textarea" name="text" formControlName="text" appInputFocused></textarea>
      <small
        class="valid-field"
        *ngIf="form.get('text')?.touched && form.get('text')?.value === ''"
      >
        Поле обязательно для заполнения
      </small>
    </fieldset>

    <button class="subj-btn" type="submit">Создать обращение</button>
  </form>
</div>

