p {
  margin: 0;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  .title {
    margin: 0;
    padding: 24px 23px 19px 27px;
    font-size: 20px;
    color: #fff;
    background: #2F80ED;
  }

  .container {
    margin: 0 auto;
    max-width: 1320px;

    .block {
      border-bottom: 1px solid #C4C4C4;
      padding: 24px 18px 23px 18px;

      &-description {
        font-size: 14px;
        color: #757575;

        &.text {
          display: block;
          margin-top: 10px;
        }
      }

      &-text {
        padding-top: 5px;
        line-height: 24px;
      }

      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        border: none;
        padding: 10px 30px;
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        background: #2F80ED;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .5));
        cursor: pointer;
        transition: filter .1s ease-in-out;

        &:active {
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0));
        }
      }
    }
  }
}
