$lightgrey: #E0E0E0;
$blue: #1976D2;
$white: #fff;
$headers: rgba(0, 0, 0, 0.56);

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  z-index: 2;
  visibility: hidden;

  &-text {
    color: $white;
  }
}

.container {
  padding: 22px 1px 37px 29px;

  .input-search {
    margin-right: 15px;
    margin-bottom: 23px;
    margin-left: 12px;
    border: 1px solid $lightgrey;
    padding: 0 25px;
    width: 303px;
    height: 36px;
    border-radius: 4px;
    background: white;
    transition: border-color .15s ease-in-out;

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }

  .reloda-data-btn {
    border: none;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .5);
    transition: box-shadow .1s ease-in-out, transform .1s ease-in-out, background .1s ease-in-out;

    &:hover {
      background: lightblue;
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    }
  }

  .headers {
    display: flex;
    border-bottom: 1px solid $lightgrey;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 70px;
    font-size: 20px;
    color: $headers;

    &-name {
      margin-right: 240px;
    }

    &-midlename {
      margin-right: 185px;
    }

    &-surname {
      margin-right: 173px;
    }

    &-tel {
      margin-right: 201px;
    }
  }

  .list-appeals {
    margin: 0;
    margin-bottom: 186px;
    padding: 0;
    list-style-type: none;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 89px;
    font-size: 20px;

    &-text1 {
      margin-right: 20px;
    }

    &-text2 {
      margin-right: 33px;
    }

    &-counter {
      margin-right: 14px;
      margin-left: 15px;
      border: 1px solid $blue;
      padding: 0 5px;
      border-radius: 5px;
      text-align: center;
      line-height: 22px;
    }
  }
}

.pagination-btn {
  padding: 0;
  background: transparent;
  cursor: pointer;
}

