<div class="loading-overlay" [ngStyle]="{'visibility': dataProcessingService.deleteAppealOverlay ? 'visible' : 'hidden'}">
  <h2 class="loading-overlay-text">Удаление...</h2>
</div>

<div class="container">
  <input class="input-search" type="text" placeholder="Имя, фамилия, отчество, номер..." [(ngModel)]="searchInput">
  <button type="button" class="reloda-data-btn" (click)="reloadInfo()">Reload</button>
  <!-- <button type="button" pButton label="Reload data"></button>
  <button type="button" pButton label="Reload info" class="p-button-outlined p-button-info" (click)="reloadInfo()"></button> -->
  <div class="headers">
    <div class="headers-name">Имя</div>
    <div class="headers-midlename">
      <svg id="up-arrow" width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="./../../assets/sprite.svg#up-arrow"></use>
      </svg>
      Фамилия
    </div>
    <div class="headers-surname">Отчество</div>
    <div class="headers-tel">Номер</div>
    <div class="headers-text">Текст обращения</div>
  </div>

  <div *ngIf="loading; else loadText">
    <div *ngIf="appeals.length; else noAppeals">
      <ul class="list-appeals">
        <app-appeal-item
          *ngFor="let item of appeals | fiterPipe:searchInput; let idx = index"
          [firstName]="item.firstName"
          [lastName]="item.lastName"
          [middleName]="item.middleName"
          [userPhone]="item.userPhone"
          [text]="item.text"
          [index]="idx"
          [orderId]="item.orderId"
        >
        </app-appeal-item>
      </ul>
    </div>
    <ng-template #noAppeals>
      <h2>Нет обращений</h2>
    </ng-template>
  </div>
  <ng-template #loadText class="load-text">
    <h2>
      Загрузка ...
    </h2>
  </ng-template>

  <app-modal-question></app-modal-question>

  <div class="pagination">
    <span class="pagination-text1">
      Rows per page: {{ appeals.length }}
      <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="../../assets/sprite.svg#triangle-down"></use>
      </svg>
    </span>

    <span class="pagination-text2">1-{{ appeals.length }} of {{ dataProcessingService.appealsOnPage }}</span>
    <button class="pagination-btn" (click)="prevPage()">
      <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="./../../assets/sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <div class="pagination-counter">{{ dataProcessingService.pageCounter }}</div>
    <button class="pagination-btn" (click)="nextPage()">
      <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="./../../assets/sprite.svg#arrow-right"></use>
      </svg>
    </button>

  </div>
</div>

<router-outlet></router-outlet>
